<div fxLayout="column" fxLayoutAlign="center center">
    <div class="header">
    <h1>Employyes list</h1>
    <button mat-raised-button color='primary' (click)="openEmployeeForm()">
        <mat-icon>add</mat-icon>
        add
    </button>
    </div>
    <div class="search">
        <mat-form-field>
            <input matInput placeholder="search"  #query (keyup)='searchEmployees(query.value)' type="text">
        </mat-form-field>
    </div>
    <div class="employees-list">
        <div class="title" fxLayout="row" fxLayoutGap="30px">
            <span fxFlex='grow'>first name</span>
            <span fxFlex='grow'>last name</span>
            <span fxFlex='grow'>position</span>
            <span fxFlex='grow'>birthdate</span>
            <span fxFlex='grow'></span>

            
        </div>
        <div *ngFor="let e of filteredEmployees; let i = index"
        fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center"
        [ngClass]="{'even': isEven(i)}" class="employee">
            <span fxFlex='grow'>{{e.firstName}}</span>
            <span fxFlex='grow'>{{e.lastName}}</span>
            <span fxFlex='grow'>{{e.position}}</span>
            <span fxFlex='grow'>{{e.birthdate.seconds * 1000|date}}</span>
            <button fxFlex='grow' mat-button color='primary' (click)=openEmployeeForm(e,i)>
                edit
            </button>
        </div>
    </div>
    
</div>