
.header
    margin:50px 0
    h1
        font-size: 32px
        display: inline
        margin-right: 50px
    
.employees-list
    
    .title
        font-weight: 500
 
.employee:hover
    background-color: #b1aeae
.employee span
    padding: 0 15px
    
.even
    background-color: #e4e4e4