<div mat-dialog-title>
  <h1 *ngIf="edit">Edit Employee</h1>
  <h1 *ngIf="!edit"> Add Employee</h1>
</div>
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
      <mat-form-field>
        <input matInput formControlName="firstName" placeholder="Your first name">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="lastName" placeholder="Your last name">
      </mat-form-field>

      <!-- position -->
      <mat-form-field>
        <mat-label>Position</mat-label>
        <mat-select formControlName='position'>
          <mat-option *ngFor="let p of positions" [value]="p">
            {{p}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
      <!-- Date -->
      <mat-form-field>
        <mat-label>Birth date</mat-label>
        <input matInput formControlName='birthdate' [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <button [disabled]='employeeForm.invalid' mat-raised-button color='primary' type="submit"><span *ngIf="edit">edit</span><span *ngIf="!edit">add</span></button>
  </form>
  <div mat-dialog-actions>
    
    <button *ngIf="employee" mat-raised-button color='warn' (click)=deleteEmployee()>delete</button>
  </div>
 